/* 
    Document   : ${name}
    Created on : ${date}, ${time}
    Author     : ${user}
    Description:
        Purpose of the stylesheet follows.
*/
 
/* html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com Twitter: @rich_clark
*/
body div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{border:0;font-size:100%;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}ins{background-color:#ff9;color:#000;text-decoration:none}mark{background-color:#ff9;color:#000;font-style:italic;font-weight:700}del{text-decoration:line-through}abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}table{border-collapse:collapse;border-spacing:0}hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}input,select{vertical-align:middle}
 
/* Minimal base styles
More Info: https://github.com/paulirish/html5-boilerplate/blob/362d0b7/css/style.css
*/
html{-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%;overflow-y:scrollmargin: 0;
padding: 0;
height: 100%;}
a:link{-webkit-tap-highlight-color:#FF5E99}
a:hover,a:active{outline:none}

a:hover{}
ul,ol{margin-left:2em}
ol{list-style-type:decimal}
nav ul,nav li{list-style:none;list-style-image:none;margin:0}
small{font-size:85%}
b,strong,th{font-weight:700}
td{vertical-align:top}
sub,sup{font-size:75%;line-height:0;position:relative}
sup{top:-.5em}
sub{bottom:-.25em}
pre{padding:15px;white-space:pre-wrap;word-wrap:break-word}
.ie6 legend,.ie7 legend{margin-left:-7px}
button,input,select,textarea{font-family:sans-serif;font-size:100%;margin:0;overflow:visible;vertical-align:baseline;width:auto}
textarea{overflow:auto;vertical-align:text-top}
label,input[type=button],input[type=submit],input[type=image],button{cursor:pointer}
input::-moz-focus-inner,button::-moz-focus-inner{border:0;padding:0}
input:invalid,textarea:invalid{-moz-box-shadow:0 0 5px red;-webkit-box-shadow:0 0 5px red;border-radius:1px;box-shadow:0 0 5px red}
.no-boxshadow input:invalid,.no-boxshadow textarea:invalid{background-color:#f0dddd}
.ie7 img{-ms-interpolation-mode:bicubic}
 
/* ------------------------- Backgrounds */
body {background:#C2BAA3;
	margin: 0;
padding: 0;
height: 100%;
}

/* ------------------------- Generic */

.clear {clear:both;}
img { /* Needed for mobile */
    display:block;
    margin-left:auto;
    margin-right:auto;
    width:100%;
}
 
/* ------------------------- Typography */
strong {font-weight:bold;}
p {}
h1 {}
h2 {}
h3 {}
h4 {}
h5 {}
h6 {}
address {}
pre, code {font-family: monospace;}
 
/* Links */
a, a:visited, a:active {}
a:hover {}

/* ------------------------- Forms */
input {}
select {}
label {}
 .clr{clear:both;}
/* ------------------------- Lists */
 
/* ------------------------- Layout */
header{
	width:100%;
	margin:0px auto;
	background:url(../images/top-bg.png)no-repeat center center;
	height: 245px;
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin-top:0px;
  padding-top:40px;
 }
 div#content{
	width:100%;
	margin:0px auto;
	background:#fff;
	padding-bottom:80px;
	margin-bottom:25px;
	box-sizing:border-box;
	min-height: 550px;
 }
 .logo{
	width:360px;
	margin:0px auto 35px auto;
 }
 nav{
	position:relative;
	text-align:center;
	height:50px;
 }
 nav ul{
	margin:0px;
	padding:0px;
	list-style:none;
	height:50px;
 }
 nav ul li{
	display:inline-block;
	width:191px;
	height:50px;
	background:url(../images/nav-normal.png)no-repeat;
	position:relative;
	vertical-align: top;
	/*-webkit-transition: all 0.1s ease-in-out;
-moz-transition: all 0.1s ease-in-out;
-o-transition: all 0.1s ease-in-out;
transition: all 0.1s ease-in-out;*/
 }
  nav ul li.active, nav ul li:hover{
	background:url(../images/nav-active.png)no-repeat;
	height:71px;
	margin-top:-21px;
	/*-webkit-transition: all 0.1s ease-in-out;
-moz-transition: all 0.1s ease-in-out;
-o-transition: all 0.1s ease-in-out;
transition: all 0.1s ease-in-out;*/
  }
  nav ul li.active a, nav ul li:hover a{
	line-height:71px;
	/*-webkit-transition: all 0.1s ease-in-out;
-moz-transition: all 0.1s ease-in-out;
-o-transition: all 0.1s ease-in-out;
transition: all 0.1s ease-in-out;*/
	}
  nav ul li a{
	display:block;
	text-align:center;
	color:#fff;
	line-height:50px;
	text-decoration:none;
	font-size:21px;
	
  }
  nav ul li a:hover{color:#fff;}
.box{
	position:relative;
	text-align:center;
}
.box .box-item{
	display:inline-block;
	width:191px;
	
	vertical-align:top;
	position:relative;
	top:0px;
	-webkit-transition: all 0.1s ease-in-out;
-moz-transition: all 0.1s ease-in-out;
-o-transition: all 0.1s ease-in-out;
transition: all 0.1s ease-in-out;
}
.box-link{
	width:191px;
	height:50px;
	background:url(../images/nav-normal.png)no-repeat;
	position:relative;
	-webkit-transition: all 0.1s ease-in-out;
-moz-transition: all 0.1s ease-in-out;
-o-transition: all 0.1s ease-in-out;
transition: all 0.1s ease-in-out;
	
}
.box-link a{
	display:block;
	text-align:center;
	color:#fff;
	line-height:50px;
	text-decoration:none;
	font-size:21px;
	-webkit-transition: all 0.1s ease-in-out;
-moz-transition: all 0.1s ease-in-out;
-o-transition: all 0.1s ease-in-out;
transition: all 0.1s ease-in-out;
	
}
.box .box-item:hover{
	border-bottom:2px solid #AF1A1D;
	top:-50px;
	-webkit-transition: all 0.1s ease-in-out;
-moz-transition: all 0.1s ease-in-out;
-o-transition: all 0.1s ease-in-out;
transition: all 0.1s ease-in-out;
}
.box .box-item:hover .box-link{
	background:url(../images/nav-active.png)no-repeat;
	height:71px;
	-webkit-transition: all 0.1s ease-in-out;
-moz-transition: all 0.1s ease-in-out;
-o-transition: all 0.1s ease-in-out;
transition: all 0.1s ease-in-out;
}
.box .box-item:hover .box-link a{
	line-height:71px;
	-webkit-transition: all 0.1s ease-in-out;
-moz-transition: all 0.1s ease-in-out;
-o-transition: all 0.1s ease-in-out;
transition: all 0.1s ease-in-out;
}
.box-item .images img{
	-webkit-filter: grayscale(100%);
-moz-filter: grayscale(100%);
filter: grayscale(100%);
}
.box .box-item:hover .images img{
	-webkit-filter: grayscale(0%);
-moz-filter: grayscale(0%);
filter: grayscale(0%);
}
.block{
	width:980px;
	position:relative;
	margin:0px auto;
	text-align:center;
}
.block-item{
	display:inline-block;
	width:210px;
	vertical-align:top;
	margin:25px 5px;
	background:#fff;
	position:relative;
	top:0px;
	-webkit-transition: all 0.1s ease-in-out;
-moz-transition: all 0.1s ease-in-out;
-o-transition: all 0.1s ease-in-out;
transition: all 0.1s ease-in-out;
}
.block-item:hover{
	top:-20px;
	-webkit-transition: all 0.1s ease-in-out;
-moz-transition: all 0.1s ease-in-out;
-o-transition: all 0.1s ease-in-out;
transition: all 0.1s ease-in-out;
}
.block-item .block-heading{
	height:66px;
	background:#f6f5f1;
	line-height:66px;
	text-align:center;
	font-size:21px;
	color:#000;
}
.block-heading i{
	line-height: 21px!important;
display: block;
padding-top: 14px;
font-style:normal;
}
.block-item .block-heading span{
	float:left;
	width:35px;
	height:66px;
	background:url(../images/block-heading.jpg)repeat-x;
}
.block-item.active .block-heading, .block-item:hover .block-heading{
	height:66px;
	background:url(../images/block-heading.jpg)repeat-x;
	line-height:66px;
	text-align:center;
	font-size:21px;
	color:#fff;
}
.block-item.active .block-heading span, .block-item:hover .block-heading span{
	float:left;
	width:35px;
	height:66px;
	background:#f6f5f1;
}
.block-item .inner{
	width:190px;
	margin:0px auto;
}
.inner .images{
	position:relative;
	height:150px;
	width:150px;
	margin:0px auto;
}
.inner .images:before{
	content: '';
position: absolute;
border-radius: 100%;
width: 150px;
height: 70px;
left: 0px;
top: -28px;
/* -webkit-transform: scaleY(.5); */
-webkit-box-shadow: 0px 125px 20px -17px rgba(0,0,0,.7);
}
.inner .images a{
	display:block;
}
.inner .images img{
	max-width:100%;
 -webkit-filter: grayscale(100%);
-moz-filter: grayscale(100%);
filter: grayscale(100%);
display:block;
border-radius:100%;
height:150px;
position:relative;
}
.block-item:hover .inner .images img, .inner:hover .images img{
	-webkit-filter: grayscale(0%);
-moz-filter: grayscale(0%);
filter: grayscale(0%);

}
.name{
	text-align:left;
	color:#392018;
	font-size:18px;
	margin:10px 0px;
}
.contact{
	text-align:left;
	color:#af1a1d;
	font-size:14px;
}
.mail{
	text-align:left;
	color:#a37030;
	font-size:14px;
}
.block-btn{
	display:inline-block;
	margin:10px 0px;
	float:right;
	text-align:center;
	font-size:14px;
	line-height:28px;
	padding:0px 20px;
	background:#fff;
	color:#392018;
	text-decoration:none;
	border:1px solid #392018;
}
.send-btn{
	display:inline-block;
	margin:10px 0px;
	float:right;
	text-align:center;
	font-size:14px;
	line-height:28px;
	padding:0px 20px;
	border:1px solid transparent;
	color:#fff;
	background:url(../images/block-btn.png)repeat-x;
	text-decoration:none;
}
.block-item.active .block-btn, .block-btn:hover{
	border:1px solid transparent;
	color:#fff;
	background:url(../images/block-btn.png)repeat-x;
}
.block-service{
	width:980px;
	margin:0px auto;
	text-align:center;
}
.block-service .block-item .inner .images img, .left-block .inner .images img{
	border-radius: 0%;
	height:auto;

}
.block-service .block-item .inner .images, .left-block .inner .images {
	height:auto;
	width:100%;
}
.block-service:after{
	content:'';
	display:table;
	clear:both;
}
.block-service .block-item{
	float:left;
	width: 196px;
	vertical-align:top;
	margin:25px 0px;
	background:#fff;
	border-bottom:2px solid #F6F5F1;
}
.block-service .block-item:hover{
	border-bottom:2px solid #af1a1d;
}
.block-service .block-item .inner{
	width:100%;
}
.block-service .block-item:hover .hide-link{
	display:block;
	visibility:visible;
	opacity:1;
	-webkit-transition: all 0.5s ease-in-out;
-moz-transition: all 0.5s ease-in-out;
-o-transition: all 0.5s ease-in-out;
transition: all 0.5s ease-in-out;
}
.hide-link{
	/*display:none;*/
	opacity:0;
	visibility:hide;
	position:absolute;
	left:0px;
	width:100%;
	top:20px;
	-webkit-transition: all 0.5s ease-in-out;
-moz-transition: all 0.5s ease-in-out;
-o-transition: all 0.5s ease-in-out;
transition: all 0.5s ease-in-out;
}
.hide-link p{
	background:#fff;
	color:#392018;
	font-size:14px;
	line-height:32px;
	margin-bottom:2px;
	text-align:left;
	padding-left:30px;
}
.hide-link p a{
	display:block;
	color:#392018;
	text-decoration:none;
}
.hide-link p a:hover{
	background:url(../images/hide-link.png)no-repeat center right;
	color:#af1a1d;
}
/* LAWYERS */
.content{
	width:770px;
	margin:25px auto 0px auto;
	background:#fff;
	box-sizing:border-box;
	padding:0px;
	padding-bottom:80px;
}
.content:after{
	content:'';
	display:table;
	clear:both;
	
}
.content-heading{
	height: 66px;
background: #f6f5f1;
line-height: 66px;
text-align: center;
font-size: 21px;
color: #000;
}
.content-heading span{
	float: left;
width: 35px;
height: 66px;
background: url(../images/block-heading.jpg)repeat-x;
}
.left-block{
	float:left;
	width:260px;
	min-height:780px;
	position:relative;
}
.left-block.short{
	min-height:380px;
}
.left-block .inner{
	margin-left:30px;
	margin-right:30px;
	margin-top:20px;
	margin-bottom:20px;
}
.vcard{
	position:absolute;
	bottom:30px;
	right:30px;
}
.right-block{
	float:right;
	width:440px;
	margin-right:30px;
	padding-top:90px;
}
.right-block p{
	color:#a37030;
	font-size:14px;
	margin-bottom:10px;
}
.right-block p span{
	color:#392018;
	font-size:18px;
}
.right-block iframe{
	width:100%!important;
	
}
/* CONTACT US */
.contact-form{
	
}
.form-left{
	float:left;
	width:127px;
}
.form-right{
	float:right;
	width:300px;
	margin-bottom:20px;
}
.form-left input{
	width:100%;
	box-sizing:border-box;
	margin-bottom:13px;
	border:1px solid #392018;
	padding-left:10px;
	font-size:14px;
	color:#392018;
	line-height:27px;
}
.form-right textarea{
	width:100%;
	box-sizing:border-box;
	border:1px solid #392018;
	color:#a37030;
	font-size:14px;
	min-height:340px;
	padding-left:10px;
	padding-top:10px;
}
.form-right textarea::-webkit-input-placeholder {
   color:#a37030;
}
.form-right textarea::-moz-placeholder { /* Firefox 18- */
    color:#a37030;  
}
.form-right textarea:-ms-input-placeholder {  
   color:#a37030;  
}
::-webkit-input-placeholder {
   color:#392018;
}

:-moz-placeholder { /* Firefox 18- */
   color:#392018;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color:#392018;  
}

:-ms-input-placeholder {  
   color:#392018;  
}
/* BLOG */
.blog .block-heading{
	height:66px;
	background:#f6f5f1;
	line-height:66px;
	text-align:center;
	font-size:21px;
	color:#000;
	width:255px;
}
.blog .block-heading i{
	line-height: 21px!important;
display: block;
padding-top: 14px;
font-style:normal;
}
.blog .block-heading span{
	float:left;
	width:30px;
	height:66px;
	background:url(../images/block-heading.jpg)repeat-x;
}
article{
	margin-top:20px;
	padding-bottom:20px;
}
article:after{
	content:'';
	display:table;
	clear:both;
}
.art-img{
	float:left;
	width:200px;
	margin-left:30px;
}
.art-img img{
	width:100%;
	border:1px solid #6a5751;
}
.art-content{
	float:right;
	margin-right: 40px;
	width:470px;
}
.art-content h2{
	font-size:16px;
	color:#392018;
	line-height:16px;
	margin-bottom:10px;
}
.art-content p{
	font-size:14px;
	color:#a37030;
	margin-bottom:10px;
}
.art-content .more{
	margin-top:20px;
	overflow: hidden;
}
.date {
float: right;
display: inline-block;
text-align: center;
width: 110px;
}
.date span{
	font-size:12px;
	color:#af1a1d;
}
.art-content h5{
	color:#392018;
	font-size:14px;
	margin:5px 0px;
}
.pagination{
	text-align:center;
	color:#af1a1d;
	font-size:12px;
	margin:20px 0px;
}
.pagination a{
	display:inline-block;
	color:#af1a1d;
	text-decoration:none;
	line-height:26px;
	text-align:center;
	padding:0px 10px;
	border:1px solid transparent;
}
.pagination a:hover{
	color:#a37030;
	border:1px solid #68554e;
}
.osh{
	margin:0px 0px 20px;
	text-align:center;
	border:1px solid transparent;
	background:url(../images/osh-bg.png)repeat-x;
	}
	.osh span{
		font-size:14px;
	line-height:35px;
	padding:0px 20px;
	color:#fff;
	}
#wrapper{
	position:relative;
	min-height:100%;
}
/* FOOTER */
footer{
	background:url(../images/footer-bg.png)repeat-x;
	height:73px;
	box-sizing:border-box;
	width:100%;
	margin:0px auto;
	padding:30px 50px;
	position:absolute;
	bottom:0px;
	left:0px;
}
footer .copy{
	float:left;

}
footer .copy p{
	color:#fff;
	font-size:10px;
	line-height:21px;
}
footer .f-contact{
	float:right;
}
footer .f-contact p{
	color:#fff;
	font-size:21px;
}
/* ------------------------- Popups */
 
/* ------------------------- Media Queries */
 
